# Working with Text Data in pandas

In [27]:
import pandas as pd

time_sentences = ["Monday: Soccer is at 2:45pm.", 
                  "Tuesday: Appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a python MOOC!",
                  "Thursday: Beer at 11:15 pm at the latest.",
                  "Friday: Starts at 08:10 am, ends at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                            text
0                   Monday: Soccer is at 2:45pm.
1           Tuesday: Appointment is at 11:30 am.
2  Wednesday: At 7:00pm, there is a python MOOC!
3      Thursday: Beer at 11:15 pm at the latest.
4   Friday: Starts at 08:10 am, ends at 09:00am.

In [28]:
# find the number of chars for each string in df['text']
df['text'].str.len()

0    28
1    36
2    45
3    41
4    44
Name: text, dtype: int64

In [29]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0    5
1    6
2    8
3    8
4    8
Name: text, dtype: int64

In [30]:
df['text'].str.contains('Appointment')

0    False
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [31]:
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [32]:
# find all indices of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [33]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [34]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0                    ???: Soccer is at 2:45pm.
1             ???: Appointment is at 11:30 am.
2      ???: At 7:00pm, there is a python MOOC!
3         ???: Beer at 11:15 pm at the latest.
4    ???: Starts at 08:10 am, ends at 09:00am.
Name: text, dtype: object

In [35]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0                    Mon: Soccer is at 2:45pm.
1             Tue: Appointment is at 11:30 am.
2      Wed: At 7:00pm, there is a python MOOC!
3         Thu: Beer at 11:15 pm at the latest.
4    Fri: Starts at 08:10 am, ends at 09:00am.
Name: text, dtype: object

In [36]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)', expand=True)

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [37]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [38]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

# Links

- [Coursera: Applied Text Mining in Python](https://www.coursera.org/learn/python-text-mining/home/welcome)
- [Working with Text Data in Pandas](https://pandas.pydata.org/pandas-docs/stable/text.html)